@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --colorSecondary: #6d28d9;
  --colorTertiary: rgb(50, 222, 132);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*
MAIN MENU
*/

.heading {
  text-shadow: -2.5px 2.5px var(--colorSecondary),
    2.5px -2.5px var(--colorSecondary), -2.5px -2.5px var(--colorSecondary),
    -2px 3px var(--colorSecondary), 3px -2px var(--colorSecondary),
    -1.5px 3.5px var(--colorSecondary), 3.5px -1.5px var(--colorSecondary),
    -1px 4px var(--colorSecondary), 4px -1px var(--colorSecondary),
    -0.5px 4.5px var(--colorSecondary), 4.5px -0.5px var(--colorSecondary),
    0 5px var(--colorSecondary), 5px 0 var(--colorSecondary),
    0.5px 5.5px var(--colorSecondary), 5.5px 0.5px var(--colorSecondary),
    1px 6px var(--colorSecondary), 6px 1px var(--colorSecondary),
    1.5px 6.5px var(--colorSecondary), 6.5px 1.5px var(--colorSecondary),
    2px 7px var(--colorSecondary), 7px 2px var(--colorSecondary),
    2.5px 7.5px var(--colorSecondary), 7.5px 2.5px var(--colorSecondary),
    3px 8px var(--colorSecondary), 8px 3px var(--colorSecondary),
    3.5px 8.5px var(--colorSecondary), 8.5px 3.5px var(--colorSecondary),
    4px 9px var(--colorSecondary), 9px 4px var(--colorSecondary),
    4.5px 9.5px var(--colorSecondary), 9.5px 4.5px var(--colorSecondary),
    5px 10px var(--colorSecondary), 10px 5px var(--colorSecondary),
    10px 5.5px var(--colorSecondary), 10px 6px var(--colorSecondary),
    10px 6.5px var(--colorSecondary), 10px 7px var(--colorSecondary),
    10px 7.5px var(--colorSecondary), 10px 8px var(--colorSecondary),
    10px 8.5px var(--colorSecondary), 10px 9px var(--colorSecondary),
    10px 9.5px var(--colorSecondary), 10px 10px var(--colorSecondary);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.menu {
  box-shadow: -2.5px 2.5px var(--colorSecondary),
    2.5px -2.5px var(--colorSecondary), -2.5px -2.5px var(--colorSecondary),
    -2px 3px var(--colorSecondary), 3px -2px var(--colorSecondary),
    -1.5px 3.5px var(--colorSecondary), 3.5px -1.5px var(--colorSecondary),
    -1px 4px var(--colorSecondary), 4px -1px var(--colorSecondary),
    -0.5px 4.5px var(--colorSecondary), 4.5px -0.5px var(--colorSecondary),
    0 5px var(--colorSecondary), 5px 0 var(--colorSecondary),
    0.5px 5.5px var(--colorSecondary), 5.5px 0.5px var(--colorSecondary),
    1px 6px var(--colorSecondary), 6px 1px var(--colorSecondary),
    1.5px 6.5px var(--colorSecondary), 6.5px 1.5px var(--colorSecondary),
    2px 7px var(--colorSecondary), 7px 2px var(--colorSecondary),
    2.5px 7.5px var(--colorSecondary), 7.5px 2.5px var(--colorSecondary),
    3px 8px var(--colorSecondary), 8px 3px var(--colorSecondary),
    3.5px 8.5px var(--colorSecondary), 8.5px 3.5px var(--colorSecondary),
    4px 9px var(--colorSecondary), 9px 4px var(--colorSecondary),
    4.5px 9.5px var(--colorSecondary), 9.5px 4.5px var(--colorSecondary),
    5px 10px var(--colorSecondary), 10px 5px var(--colorSecondary),
    5.5px 10.5px var(--colorSecondary), 10.5px 5.5px var(--colorSecondary),
    6px 11px var(--colorSecondary), 11px 6px var(--colorSecondary),
    6.5px 11.5px var(--colorSecondary), 11.5px 6.5px var(--colorSecondary),
    7px 12px var(--colorSecondary), 12px 7px var(--colorSecondary),
    7.5px 12.5px var(--colorSecondary), 12.5px 7.5px var(--colorSecondary),
    8px 13px var(--colorSecondary), 13px 8px var(--colorSecondary),
    8.5px 13.5px var(--colorSecondary), 13.5px 8.5px var(--colorSecondary),
    9px 14px var(--colorSecondary), 14px 9px var(--colorSecondary),
    9.5px 14.5px var(--colorSecondary), 14.5px 9.5px var(--colorSecondary),
    10px 15px var(--colorSecondary), 15px 10px var(--colorSecondary),
    15px 10.5px var(--colorSecondary), 15px 11px var(--colorSecondary),
    15px 11.5px var(--colorSecondary), 15px 12px var(--colorSecondary),
    15px 12.5px var(--colorSecondary), 15px 13px var(--colorSecondary),
    15px 13.5px var(--colorSecondary), 15px 14px var(--colorSecondary),
    15px 14.5px var(--colorSecondary), 15px 15px var(--colorSecondary);
}

.btn {
  box-shadow: -2.5px 2.5px var(--colorSecondary),
    2.5px -2.5px var(--colorSecondary), -2.5px -2.5px var(--colorSecondary),
    -2px 3px var(--colorSecondary), 3px -2px var(--colorSecondary),
    -1.5px 3.5px var(--colorSecondary), 3.5px -1.5px var(--colorSecondary),
    -1px 4px var(--colorSecondary), 4px -1px var(--colorSecondary),
    -0.5px 4.5px var(--colorSecondary), 4.5px -0.5px var(--colorSecondary),
    0 5px var(--colorSecondary), 5px 0 var(--colorSecondary),
    0.5px 5.5px var(--colorSecondary), 5.5px 0.5px var(--colorSecondary),
    1px 6px var(--colorSecondary), 6px 1px var(--colorSecondary),
    1.5px 6.5px var(--colorSecondary), 6.5px 1.5px var(--colorSecondary),
    2px 7px var(--colorSecondary), 7px 2px var(--colorSecondary),
    2.5px 7.5px var(--colorSecondary), 7.5px 2.5px var(--colorSecondary),
    3px 8px var(--colorSecondary), 8px 3px var(--colorSecondary),
    3.5px 8.5px var(--colorSecondary), 8.5px 3.5px var(--colorSecondary),
    4px 9px var(--colorSecondary), 9px 4px var(--colorSecondary),
    4.5px 9.5px var(--colorSecondary), 9.5px 4.5px var(--colorSecondary),
    5px 10px var(--colorSecondary), 10px 5px var(--colorSecondary),
    10px 5.5px var(--colorSecondary), 10px 6px var(--colorSecondary),
    10px 6.5px var(--colorSecondary), 10px 7px var(--colorSecondary),
    10px 7.5px var(--colorSecondary), 10px 8px var(--colorSecondary),
    10px 8.5px var(--colorSecondary), 10px 9px var(--colorSecondary),
    10px 9.5px var(--colorSecondary), 10px 10px var(--colorSecondary);
}

/**************************/

/*
NEW TOURNEY
*/

.customKnockoutCheckbox {
  position: absolute;
  left: -13.75%;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: white;
}

.seededInput {
  z-index: 2;
}

.customSeededCheckbox {
  position: absolute;
  bottom: 33%;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: white;
}

.knockoutCheck {
  left: -15%;
  top: -60%;
  font-size: 1.75rem;
  /* color: var(--colorSecondary); */
}

.seededCheck {
  bottom: 33%;
  left: 49.5%;
  z-index: 1;
  font-size: 1.75rem;
  /* color: var(--colorSecondary); */
}

body {
  background-color: #e5e5f7;
  background-image: linear-gradient(
      30deg,
      #f7a845 12%,
      transparent 12.5%,
      transparent 87%,
      #f7a845 87.5%,
      #f7a845
    ),
    linear-gradient(
      150deg,
      #f7a845 12%,
      transparent 12.5%,
      transparent 87%,
      #f7a845 87.5%,
      #f7a845
    ),
    linear-gradient(
      30deg,
      #f7a845 12%,
      transparent 12.5%,
      transparent 87%,
      #f7a845 87.5%,
      #f7a845
    ),
    linear-gradient(
      150deg,
      #f7a845 12%,
      transparent 12.5%,
      transparent 87%,
      #f7a845 87.5%,
      #f7a845
    ),
    linear-gradient(
      60deg,
      #f7a84577 25%,
      transparent 25.5%,
      transparent 75%,
      #f7a84577 75%,
      #f7a84577
    ),
    linear-gradient(
      60deg,
      #f7a84577 25%,
      transparent 25.5%,
      transparent 75%,
      #f7a84577 75%,
      #f7a84577
    );
  background-size: 80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

@media all and (min-width: 768px) {
  .heading {
    text-shadow: -2.5px 2.5px var(--colorSecondary),
      2.5px -2.5px var(--colorSecondary), -2.5px -2.5px var(--colorSecondary),
      -2px 3px var(--colorSecondary), 3px -2px var(--colorSecondary),
      -1.5px 3.5px var(--colorSecondary), 3.5px -1.5px var(--colorSecondary),
      -1px 4px var(--colorSecondary), 4px -1px var(--colorSecondary),
      -0.5px 4.5px var(--colorSecondary), 4.5px -0.5px var(--colorSecondary),
      0 5px var(--colorSecondary), 5px 0 var(--colorSecondary),
      0.5px 5.5px var(--colorSecondary), 5.5px 0.5px var(--colorSecondary),
      1px 6px var(--colorSecondary), 6px 1px var(--colorSecondary),
      1.5px 6.5px var(--colorSecondary), 6.5px 1.5px var(--colorSecondary),
      2px 7px var(--colorSecondary), 7px 2px var(--colorSecondary),
      2.5px 7.5px var(--colorSecondary), 7.5px 2.5px var(--colorSecondary),
      3px 8px var(--colorSecondary), 8px 3px var(--colorSecondary),
      3.5px 8.5px var(--colorSecondary), 8.5px 3.5px var(--colorSecondary),
      4px 9px var(--colorSecondary), 9px 4px var(--colorSecondary),
      4.5px 9.5px var(--colorSecondary), 9.5px 4.5px var(--colorSecondary),
      5px 10px var(--colorSecondary), 10px 5px var(--colorSecondary),
      5.5px 10.5px var(--colorSecondary), 10.5px 5.5px var(--colorSecondary),
      6px 11px var(--colorSecondary), 11px 6px var(--colorSecondary),
      6.5px 11.5px var(--colorSecondary), 11.5px 6.5px var(--colorSecondary),
      7px 12px var(--colorSecondary), 12px 7px var(--colorSecondary),
      7.5px 12.5px var(--colorSecondary), 12.5px 7.5px var(--colorSecondary),
      8px 13px var(--colorSecondary), 13px 8px var(--colorSecondary),
      8.5px 13.5px var(--colorSecondary), 13.5px 8.5px var(--colorSecondary),
      9px 14px var(--colorSecondary), 14px 9px var(--colorSecondary),
      9.5px 14.5px var(--colorSecondary), 14.5px 9.5px var(--colorSecondary),
      10px 15px var(--colorSecondary), 15px 10px var(--colorSecondary),
      15px 10.5px var(--colorSecondary), 15px 11px var(--colorSecondary),
      15px 11.5px var(--colorSecondary), 15px 12px var(--colorSecondary),
      15px 12.5px var(--colorSecondary), 15px 13px var(--colorSecondary),
      15px 13.5px var(--colorSecondary), 15px 14px var(--colorSecondary),
      15px 14.5px var(--colorSecondary), 15px 15px var(--colorSecondary);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  .menu {
    box-shadow: -2.5px 2.5px var(--colorSecondary),
      2.5px -2.5px var(--colorSecondary), -2.5px -2.5px var(--colorSecondary),
      -2px 3px var(--colorSecondary), 3px -2px var(--colorSecondary),
      -1.5px 3.5px var(--colorSecondary), 3.5px -1.5px var(--colorSecondary),
      -1px 4px var(--colorSecondary), 4px -1px var(--colorSecondary),
      -0.5px 4.5px var(--colorSecondary), 4.5px -0.5px var(--colorSecondary),
      0 5px var(--colorSecondary), 5px 0 var(--colorSecondary),
      0.5px 5.5px var(--colorSecondary), 5.5px 0.5px var(--colorSecondary),
      1px 6px var(--colorSecondary), 6px 1px var(--colorSecondary),
      1.5px 6.5px var(--colorSecondary), 6.5px 1.5px var(--colorSecondary),
      2px 7px var(--colorSecondary), 7px 2px var(--colorSecondary),
      2.5px 7.5px var(--colorSecondary), 7.5px 2.5px var(--colorSecondary),
      3px 8px var(--colorSecondary), 8px 3px var(--colorSecondary),
      3.5px 8.5px var(--colorSecondary), 8.5px 3.5px var(--colorSecondary),
      4px 9px var(--colorSecondary), 9px 4px var(--colorSecondary),
      4.5px 9.5px var(--colorSecondary), 9.5px 4.5px var(--colorSecondary),
      5px 10px var(--colorSecondary), 10px 5px var(--colorSecondary),
      5.5px 10.5px var(--colorSecondary), 10.5px 5.5px var(--colorSecondary),
      6px 11px var(--colorSecondary), 11px 6px var(--colorSecondary),
      6.5px 11.5px var(--colorSecondary), 11.5px 6.5px var(--colorSecondary),
      7px 12px var(--colorSecondary), 12px 7px var(--colorSecondary),
      7.5px 12.5px var(--colorSecondary), 12.5px 7.5px var(--colorSecondary),
      8px 13px var(--colorSecondary), 13px 8px var(--colorSecondary),
      8.5px 13.5px var(--colorSecondary), 13.5px 8.5px var(--colorSecondary),
      9px 14px var(--colorSecondary), 14px 9px var(--colorSecondary),
      9.5px 14.5px var(--colorSecondary), 14.5px 9.5px var(--colorSecondary),
      10px 15px var(--colorSecondary), 15px 10px var(--colorSecondary),
      15px 10.5px var(--colorSecondary), 15px 11px var(--colorSecondary),
      15px 11.5px var(--colorSecondary), 15px 12px var(--colorSecondary),
      15px 12.5px var(--colorSecondary), 15px 13px var(--colorSecondary),
      15px 13.5px var(--colorSecondary), 15px 14px var(--colorSecondary),
      15px 14.5px var(--colorSecondary), 15px 15px var(--colorSecondary);
  }
}
